@media all and (max-width: 1200px) {
	.weHaveTheParts{
		display: none;
	}
	.topLinks li.register{
		margin-right: 10px;
	}
	#search_mini_form input[type="text"],
	.searchautocomplete .nav{
		width: calc(100% - 53px);
	}
	.searchautocomplete{
		width: calc(100% - 680px);
		margin-left: 8px;
	}
	#search_mini_form{
		margin-left: 20px;
	}
	.innerHeader h2.logo{
		margin-left: 10px;
	}
	.main-container .main{
		margin: 0;
	}
	.header-container{
		margin-bottom: 40px;
	}
	.mobileMenuButton{
		display: inline-block;
		background:none;
		width: 53px;
		height: 49px;
		padding: 25px 10px 0 10px;
		float: left;
		text-align: center;
		cursor: pointer;
		border-right: #dcdcdc 1px solid;
	}
	.mobileMenuButton span{
		display: block;
		width: 28px;
		height: 6px;
		margin: 0 auto 4px auto;
		background: #222222;
	}
	.mobileMenuButton.active span{
		background: #fff;
	}
	.mobileMenuButton.active{
		background:#003cff;
		border-right: none;
	}
	.main-menu.mobile{
		position: absolute; top:117px;
		width: 100%;
		z-index: 999999;
		display: none;
		margin: 0;
	}
	.main-menu.mobile .bfm-nb-nav ul:before{
		content: "SHOP BY PRODUCT";
		background: #2f2f2f;
		display: block;
		font: 20px "Roboto";
		font-weight: 700;
		color: #fff;
		padding: 15px 0 0 0;
	}
	.main-menu.mobile .otherLinks .bfm-nb-nav ul:before{
		display: none;
	}
	.main-menu.mobile.active{
		display: block;
	}
	.leftColumn{
		display: none;
	}
	.main-container .main{
		width: calc(100% - 30px);
		margin: 0 auto;
	}
	.cms-home .col1-layout .col-main{
		width: 100%;
		padding: 0;
		max-width: 911px;
		margin: 0 auto;
		float: none;
		clear: both;
		padding-top: 5px;
	}
	.cms-home .col1-layout .main{
		padding: 0 15px;
	}
	.cms-home .bannersHomePage img{
		width: calc(50% - 2px);
		margin-right: 0;
	}
	.widget-new-products .products-grid li.item,
	.widget.featuredProducts .products-grid li.item{
		width: calc(25% - 23px);
	}
	.widget-new-products .products-grid li.item img,
	.widget.featuredProducts .products-grid li.item img{
		max-width: 100%;
		height: auto;
	}
	.asFeauredIn{
		display: none;
	}
	.footerInner{
		max-width: 700px;
		padding: 0 20px;
	}
	.footerInner .bfm-nb-nav{
		border-left: none;
	}
	.newsletterWrap{
		margin-top: 40px;
	}
	.col2-left-layout .col-main{
		width: calc(100% - 20px);
		float: none;
		margin: 0 auto;
		padding-right: 0;
	}
	.checkout-onepage-success .col-main,
    .col2-right-layout .col-main{
		width: calc(100% - 20px);
		float: none;
		margin: 0 auto;
		padding-left: 0;
	}
	.catalog-category-view .col2-left-layout .col-main{
		
		float: none;
		margin: 0 auto;
	}
	.col2-left-layout .col-left,
	.col-left{
		display: block;
    	width: 100%;
	}
	.col-main{
		padding-bottom: 20px;
	}
	.col-left.sidebar .main-menu{
		display: none;
	}
	/*product category page
	/******************************/
	.category-description img{
		max-width: 100%;
	}
	.apptrian-subcategories-layout-grid li,
	.catalog-category-view .products-grid li.item,
	.catalogsearch-result-index .products-grid li.item{
		max-width: calc(50% - 10px);
	}
	.catalog-category-view .products-grid li.item img,
	.apptrian-subcategories-layout-grid li img,
	.catalogsearch-result-index .products-grid li.item img{
		max-width: 100%;
		height: auto;
	}
	.projectDetail .leftColumn{
		display: block;
	}
	.newProductsWrap a.seeAll{
		right: 0;
	}
	.footerInner .bfm-nb-nav ul{
		margin-left: 0;
	}
	.newsletterWrap{
		 float: none;
	    clear: both;
	    margin: 0 auto;
	    max-width: 500px;
	    border-left: none;
	    padding-top: 40px;
	}
	.leftBanners{
		display: none;
	}
	#wishlist-view{
		clear: both;
	}
}
@media all and (max-width: 960px) {
	/*CHECKOUT PROCESS
	/***********************/
	.col2-set .col-2{
		width: auto;
	}
	.customer-account-login .main{
		padding: 0 10px;
	}
	.customer-account-login .col-1,
	.customer-account-login .col-2{
		width: 95%;
		margin:5px auto;
		float: none;
	}
	.customer-account-login .col-2{
		margin-top: 30px;
	}
	.account-login .content{
		min-height: 90px;
	}
	#checkout-step-login .col2-set .col-1,
	#checkout-step-login .col2-set .col-2{
		width:95%;
		margin:5px auto;
		float: none;
	}
	.checkout-onepage-index .col-main{
		width:calc(100% - 20px);
	}
	.checkout-onepage-index .col-right.sidebar{
		display: none;
	}
	.checkout-onepage-index .form-list li.wide input.input-text,
	.checkout-onepage-index .form-list li.wide .input-box{
		width:260px;
	}
	.account-login .registered-users{
		padding-left: 2%;
		border-left: none;
	}
	.cart-forms, .cart-totals-wrapper, .crosssell{
		width: calc(100% - 20px);
		float: none;
		padding: 10px;
	}
	.cart-table{
		float: none;
	}
	.main .col-main .cart form{
		float: none;
		width: 100%;
	}
	/* DASHBOARD
	/*===========================*/


	.col2-left-layout .col-main,{
		padding:0 10px;
	}

	.col-left .block-account .block-title{
		position: relative;
		padding: 11px 10px;
		margin-top:20px;
	}
	button.btn-checkout.button span{
		margin-right:10px;
	}
	.catalog-category-view .col2-left-layout .col-main{
		float: none;
		width: calc(100% - 20px);
		margin: 0 auto;
	}

	/* PROJECT CENTER
	/****************************/
	.projects-index-index .banner_submit_project img{
		width: 100%;
	}
	.tabsWrap .activeElem{
		display: block;
	}
	.projects-index-index .tabsMenu{
		display: none;
	}
	.projects-index-index .tabsMenu.opened{
		display: block;
	}
	.projects-index-index .tabsMenu div{
		width: calc(100% - 62px);
		border-right: #cccccc 1px solid;
		border-bottom: #cccccc 1px solid;
	}
	.projects-index-index .tabsMenu div:hover,
	.projects-index-index .tabsMenu div.active{
		border-bottom: #cccccc 1px solid;
	}
	.projects-index-index .tabcontent .left,
	.projects-index-index .tabcontent .right{
		width: 100%;
	}
	.projects-index-index .tabcontent .right img{
		width: 100%;
		height: auto;
	}
	.projects-index-index .tabcontent .left{
		margin-top: 10px;
	}
	.projects-view-project .partsList, .projects-view-project .tagsList{
		width: auto;
	}
	.lastProjectsWrap,
	.projectsWrap{
		max-width: 460px;
    	margin: 0 auto;
	}
	.lastProjectsWrap .project,
	.projectsWrap .project{
		margin-top: 10px;
	}
	.lastProjectsWrap .project .caption,
	.projectsWrap .project .caption{
		background: #fff;
		color: #2f2f2f;
		padding: 10px 0 0 0;
		border:none;
		width: 100%;
	}
	.lastProjectsWrap .project .caption a,
	.projectsWrap .project .caption a{
		color: #2f2f2f;
	}
	.lastProjectsWrap .project .caption .author span,
	.projectsWrap .project .caption .author span{
		color: #003cff;
	}
	.lastProjectsWrap .project .caption .viewProject,
	.projectsWrap .project .caption .viewProject{
		display: block;
		background: #003cff;
		color: #fff;
		font: 18px "Roboto";
		font-weight: 300;
		padding: 10px 0;
		text-align: center;
		display: block;
		margin-top: 10px;
	}
	.projects-submitproject-index .fieldWrap.name, 
	.projects-submitproject-index .fieldWrap.link{
		width: 100%;
	}
	.fieldWrap.parts ul li{
		background: #eae9e9;
		border: #c1c1c1 1px solid;
		padding: 10px;
		position: relative;
		margin-top: 10px;
	}
	.fieldWrap.parts ul li .linkField{
		clear: both;
		float: none;
	}
	.fieldWrap.parts  ul li .sortableHandle,
	.fieldWrap.parts .quantity,
	.fieldWrap.parts .partNumber,
	.fieldWrap.parts .nameDesc,
	.fieldWrap.parts .externalLink {
		display: none;
	}
	.fieldWrap.parts input.linkField,
	.fieldWrap.parts input.nameField{
		width: calc(100% - 15px);
		margin-top: 10px;
	}
	.removePart{
		position: absolute; top:20px; right:10px;
	}
	.removePart:hover{
		top: 19px;
	}
	.fieldWrap.parts input.numberField{
		width: calc(100% - 135px);
	}
	.projects-view-project .projectDetail .leftColumn,
	.projects-view-project .projectDetail .rightColumn{
		float: none;
		width: 100%;
	}
	.projects-view-project .instructablesBanner{
		margin: 0 auto;
	}
	.projects-view-project .image-normal img{
		max-width: 100%;
		height: auto;
	}
	.projects-view-project .rightButtons{
		position: relative;
	    top: 0;
	    margin: 10px 0;
	}
	.projects-view-project h1 span{
		display: block;
	}
	.catalog-product-view .availability,
	.catalog-product-view .price-box{
		width: 100%;
	}
	.projectDetail .leftColumn .description{
		padding-right: 0;
	}
}
@media all and (max-width: 940px){
	.topBarLinks,
	.header-container .innerHeader .bfm-nb-nav{
		display: none;
	}
	#search_mini_form,
	.searchautocomplete .nav{
		width: calc(100% - 53px);
	}
	.searchautocomplete{
		width: calc(100% - 252px);
	}
	#search_mini_form input[type="text"]{
		width: calc(100% - 80px); 
	}
	.innerHeader{
		height: 59px;
	}
	.innerHeader h2.logo{
		margin-top:5px;
		border: none;
		margin-left: 20px;
	}
	.mobileMenuButton{
		height: 42px;
		padding: 17px 10px 0 10px;
	}
	.main-menu.mobile{
		top:102px;
	}
	.cartMobile{
		display: block;
		color: #fff;
		float: right;
		font: 13px "Roboto";
		font-weight: 700;
		margin: 13px 10px 0 30px;
	}
	.cartMobile span{
		font-weight: 400;
		font-size: 13px;
		margin-top:0;
		padding: 0 5px 0 0;
		float: none;
		display: inline-block;
	}

}
@media all and (max-width: 870px){
	.product-view .product-img-box{
		float: none;
		margin: 0 auto;
	}
	.product-image-normal{
		width: 438px;
		margin: 0 auto;
	}
	.product-view .counter{
		margin: 10px auto;
		text-align: center;
    	position: relative;
    	display: block;
	}
	.product-essential{
		padding-bottom: 0;
	}
	.product-view .product-name h1{
		font-size: 20px;
	}
	.product-view .more-views ul,
	.product-view .product-img-box .more-views-inner,
	.product-view .product-img-box .more-views .navi{
		display: none;
	}
	.product-view .product-img-box{
		display: block;
		position: relative;
	}
	.product-img-box .imgNav{
		display: block;
	}
	.prevImage{
		width: 12px;
	    height: 23px;
	    display: block;
		background: url('../images/sprites.png');
    	background-position: 3px -134px;
    	cursor: pointer;
    	position: absolute; top: 120px; left:10px;
    	padding: 5px;
	}
	.nextImage{
		width: 12px;
	    height: 23px;
	    display: block;
		background: url('../images/sprites.png');
    	background-position: -16px -133px;
    	cursor: pointer;
    	position: absolute; top: 120px; right:10px;
    	padding: 5px;
	}
	.product-collateral .product_tabs{
		position: relative; top:0;
		display: block;
	}
	.product-collateral .tabs-content{
		padding-top: 10px;
	}
	.product-collateral #tab_downloads,
	.product-collateral #tab_specs,
	.product-collateral #tab_techtips,
	.product-collateral #tab_projects{
		left:0 !important;
		border-bottom: none;
		border-left: none;
		border-right: none;
	}
	.product-collateral #tab_specs{
		border-top: none;
	}
	.imagesSpecsWrap{
		width:100%;
	}
	.imagesSpecsWrap img{
		width: 100%;
		height: auto;
	}
	#upsell-product-table li{
		margin-top: 20px;
	}
	.copyrightsInner{
		font-size: 11px;
		text-align: center;
		line-height: 20px;
	}
	.copyrightsInner .bfm-nb-nav,
	.copyrightsInner .copy{
		float: none;
	}
	.copyrightsInner .bfm-nb-nav{
		border-top: #3b3b3b 1px solid;
		padding-top: 10px;
		max-width: 90%;
		margin: 10px auto;
	}
	.copyrights{
		height: 140px;
	}
	
	.counter{
		display: inline-block;
	}
	.product-view .product-shop{
		margin: 0 auto;
		float: none;
		position: relative;
	}
	.product-tabs-container .product_tabs:after{
		content: "";
		width: 9px;
		height: 15px;
		display: inline-block;
		background: url('../images/sprites.png');
		background-position: -141px -290px;
		position: absolute; right:10px;top:20px;
	}
	.product-tabs-container .product_tabs.active:after{
		-ms-transform: rotate(90deg);
	    -webkit-transform: rotate(90deg);
	    transform: rotate(90deg);
	    right:15px;
	}
	.product-img-box .product-image{
		min-height: 0 !important;
	}
	.topLinks .connect{
		display: none;
	}
}
@media all and (max-width: 767px){
	/*DASHBOARD TABLES
	/**************************/
	
	#my-orders-table table, 
	#my-orders-table tbody, 
	#my-orders-table th, 
	#my-orders-table td, 
	#my-orders-table tr{
		display: block;
	}
	#my-orders-table thead tr{
		display: none;
	}
	#my-orders-table td{
		padding-left: 55%;
		position: relative;
		border: none;
	}
	.sales-order-history #my-orders-table td{
		padding-left: 0;
	}
	#my-orders-table td a{
		display: block;
		cursor: pointer;
		text-align: left;
	}
	#my-orders-table td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 50%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	.qquoteadv-view-history #my-orders-table td:nth-of-type(1):before { content: "Quote #"; }
	.qquoteadv-view-history #my-orders-table td:nth-of-type(2):before { content: "Date"; }
	.qquoteadv-view-history #my-orders-table td:nth-of-type(3):before { content: "Quote Request Status"; }
	.qquoteadv-view-history #my-orders-table td:nth-of-type(4):before { content: ""; }

	.box-account #my-orders-table td:nth-of-type(1):before { content: "Order # "; }
	.box-account #my-orders-table td:nth-of-type(2):before { content: "Date"; }
	.box-account #my-orders-table td:nth-of-type(3):before { content: "Ship To"; }
	.box-account #my-orders-table td:nth-of-type(4):before { content: "Order Total"; }
	.box-account #my-orders-table td:nth-of-type(5):before { content: "Status"; }
	.checkout-cart-index .btn-remove2{
		overflow: visible;
		font-size: 12px;
		text-indent: 0;
		line-height: auto;
		width:100px;
		padding: 10px 0 0 20px;
	}
	.box-account.box-info .col2-set .col-1,
	.box-account.box-info .col2-set .col-2{
		width: 100%;
		float: none;
	}
	.box-account.box-info .col2-set .col-2{
		margin-top: 20px;
	}
	/* CHECK OUT */
	#quotelist{
		width: 100%;
		display: block;
	}
	#shopping-cart-table thead,
	#wishlist-view-form thead{
		display: none;
	}
	#shopping-cart-table tbody tr,
	#wishlist-view-form tbody tr{
		border-bottom: #000 1px solid;
	}
	#shopping-cart-table tbody td,
	#wishlist-view-form tbody td{
		display: block;
		position: relative;
		border: none;
		text-align: left !important;
	}
	#wishlist-view-form .buttons-set button.button{
		float: left
	}
	.qquoteadv-index-index #shopping-cart-table tbody td{
		padding-left: 55%;
	}
	div#comment{
		font-size: 12px;
	}
	#shopping-cart-table td:before { 
		position: absolute;
		text-align: right;
		top: 6px;
		left: 6px;
		width: 50%; 
		padding-right: 10px; 
		white-space: nowrap;
		padding-top: 5px;
	}
	#shopping-cart-table h4{
		margin:0;
	}
	#shopping-cart-table textarea{
		min-height: 180px;
	}
	#quotelist #shopping-cart-table tbody  td:nth-of-type(1):before { content: "Remove"; }
	#quotelist #shopping-cart-table tbody td:nth-of-type(3):before { content: "Product Name"; }
	#quotelist #shopping-cart-table tbody td:nth-of-type(5):before { content: "Remarks with product";position: relative;top: -5px; font-size:11px; letter-spacing: -1px; left: -1px;}
	#quotelist #shopping-cart-table tbody td:nth-of-type(6):before { content: "Unit price"; }
	#quotelist #shopping-cart-table tbody td:nth-of-type(7):before { content: "Qty *"; }
	#shopping-cart-table tfoot td{
		display: block;
		min-height: 55px;
	}
	.checkout-cart-index .page-title .btn-checkout{
		display: none;
	}

	#shopping-cart-table tfoot button span{
		padding: 0;
	}
	.data-table,
	#shopping-cart-table tbody,
	#shopping-cart-table tfoot,
	#shopping-cart-table tr{
		width: 100%;
		display: block;
	}
	.qquote-client-collaterals {
		width:100% !important;
	}
	.qquote-client-collaterals td{
		display: block;
		clear: both;
  		padding-left: 0;
	}
	.cart .cart-collaterals .col2-set,{
		width:auto;
		float: none;
	}
	.cart-collaterals .col2-set .col-2{
		float: none;
		margin: 0 auto;
	}
	.checkout-cart-index .cart-collaterals .col2-set .col-1{
	  	float: none;
	}
	.checkout-cart-index .cart-collaterals .col2-set .col-2{
	  	float: left;
	}
	.checkout-cart-index .cart-collaterals .col2-set  a.link-wishlist{
		margin: 0;
	}
	#shopping-cart-table h2{
		padding-top:0;
	}
	.checkout-cart-index .page-title{
		padding-left: 10px;
	}
	.checkout-cart-index .data-table tfoot tr.first td{
		min-height: 73px;
	}

	.bfm-single-slideshow .slideshow-text{
		max-width: 96%;
	}
	.cart-table button span{
		width:100%;
		text-align: center;
	}
	.cart-table .product-name a{
		color: #000;
		font-size:24px;
	}
	#shopping-cart-table td:nth-of-type(4) .cart-price .price:before{
		content: "Unit Price - ";
		font-weight: bold;
	}
	#shopping-cart-table td:nth-of-type(6) .cart-price .price:before{
		content: "Subtotal - ";
		font-weight: bold;
	}
	#shopping-cart-table td:nth-of-type(5):before{
		content: "Quantity - ";
		font-weight: bold;
		position: relative; left:0; top:0;
		float: none;
	}
	.form-list input.input-text,
	.form-list li.wide input.input-text{
		width: calc(100% - 12px);
	}
	.form-list select{
		width: 100%;
	}
	.form-list li.wide .input-box{
		width: 260px;
	}
	.form-list .field{
		margin-bottom: 8px;
	}
	.button2, .button2 span, .button2 span span{
		font-size: 16px;
	}
	.product-cart-actions button,
	.cart-table .product-cart-actions .qty{
		float: left;
	}
	.cart-links{
		margin: 8px 0 0 5px;
		float: left;
	}
	#shopping-cart-table tbody td, #wishlist-view-form tbody td{
		float: none;
		clear: both;
	}
	.checkout-cart-index .btn-remove2{
		padding-left: 20px;
	}
	.cart-table thead th, .cart-table tbody td{
		padding: 5px;
	}
	.twitterWrap{
		display: block;
		text-align: center;
		padding: 30px 0;
		clear: both;
	}
	#video{
		max-width: 100%;
	}
}
@media all and (max-width: 760px) {
	#slider,
	.cms-home .bannersHomePage{
		display: none;
	}
	.col-main .widget-new-products{
		max-width: 500px;
		margin:  0 auto;
	}
	.widget.featuredProducts .products-grid{
		display: inline;
	}
	.widget-new-products .products-grid li.item,
	.widget.featuredProducts .products-grid li.item{
		width: calc(50% - 13px);
		margin-bottom: 10px;
		margin-right: 5px;
		display: block;
	    float: left;
	    min-height: 258px;
	}
	.widget-new-products .products-grid li.item:nth-child(2n),
	.widget.featuredProducts .products-grid li.item:nth-child(2n){
		margin-right: 5px;
	}
	.products-grid .product-name a{
		font-size: 14px;
	}
	.widget .widget-title h2,
	.widget .widget-title h1{
		font-size: 25px;
	}

	.projects-index-index .rightColumn{
		min-width: 0;
	}
	.tabs-content .data-table .label{
		max-width: 150px;
	    white-space: pre;
	    white-space: pre-wrap;
	    white-space: pre-line;
	    white-space: -pre-wrap;
	    white-space: -o-pre-wrap;
	    white-space: -moz-pre-wrap;
	    white-space: -hp-pre-wrap;
	    word-wrap: break-word;
	}
}
@media all and (max-width: 680px){
	.footerInner .bfm-nb-nav{
		width: 100%;
		border-bottom: #e7e7e7 1px solid;
		cursor: pointer;
		padding-bottom: 10px;
		min-height: 0;
	}
	.footerInner .bfm-nb-nav ul li{
		display: none;
	}
	.footerInner .bfm-nb-nav ul li:first-child{
		display: block;
	}
	.footerInner .bfm-nb-nav ul li h3{
		margin: 10px 0 0 0;
		position: relative;
	}
	.footerInner .bfm-nb-nav ul li h3:after{
		content: "";
		display: block;
		width: 15px;
		height: 9px;
		background: url('../images/sprites.png');
		background-position: -132px -181px ;
		position: absolute; top:10px; right:10px;
	}
	.footerInner .bfm-nb-nav.opened ul li h3:after{
		background-position: -132px -168px ;
	}
	.footerInner .bfm-nb-nav.opened ul li{
		display: block;
	}
	.copyrightsInner .copy span{
		display: block;
		width: 100%;
	}
	.footerInner .newsletter{
		padding-bottom: 15px;
	}
	.footerInner .connectWithUs h5{
		margin-bottom: 5px;
	}
	.footerInner .connectWithUs{
		padding-top: 12px;
	}
	.sendfriend-product-send .form-list li.wide textarea{
		width:calc(100% - 10px);
	}
	.topLinks .phoneNumber{
		display: none;
	}
	.form-list li.wide select{
		width: 100%;
	}

}
@media all and (max-width: 550px){
	.topLinks .topMenuWrap,
	.header-container .topBar .shopByProductHeader{
		display: none;
	}
	#search_mini_form,
	.searchautocomplete{
		width: calc(100% - 40px);
	}
	#search_mini_form input[type="text"]{
		width: calc(100% - 71px);
	}
	.footerInner .newsletter .input-box{
		width: calc(100% - 49px);
	}
	.footerInner .newsletter input[type="text"]{
		width: calc(100% - 20px);
	}
	.footerInner .shopSecure{
		border: none;
		margin-left: 10px;
	}
	.cart-table .btn-empty{
		width: 100%;
	}
	#shopping-cart-table tfoot td{
		text-align: center !important;
	}
	.lastProjectsWrap{
		max-width: 205px;
    	margin: 0 auto;
	}
	.widget.featuredProducts .products-grid li.item,
	.widget-new-products .products-grid li.item{
		min-height: 0;
		padding-bottom: 20px;
	}
	.footerInner .newsletter,
	.footerInner .connectWithUs,
	.footerInner .shopSecure{
		padding-left: 0;
	}
	.newsletterWrap{
		padding-top: 14px;
	}
	.footerInner .newsletter h5{
		margin-bottom: 15px;
	}
	.footerInner .shopSecure{
		border-top: #e7e7e7 1px solid;
		width: 100%;
		margin-top: 10px;
		margin-left: 0;
		padding-top: 10px;
	}

}
@media all and (max-width: 480px){
	.product-image-normal{
		width: 90%;
		margin: 0 auto;
		margin-top: 20px;
	}
	.product-image-normal img{
		width:100%;
	}
	.mousetrap{
		display: none;
	}
	.product-view .product-shop{
		width: 100%;
	}
	.catalog-product-view .priceLabel, .catalog-product-view .partLabel, .catalog-product-view .availabilityLabel{
		padding-right: 12px;
	}
	.catalog-product-view #product-options-wrapper{
		width: 100%;
	}
	.catalog-product-view #product-options-wrapper dt{
		padding: 10px 12px 5px 8px;
		min-width: 73px;
	}
	.catalog-product-view #product-options-wrapper dd{
		width: 100%;
		padding-right: 3px;
	}
	.catalog-product-view .regular-price, .catalog-product-view #skuInfo, .catalog-product-view #skuInfoSimpleProduct, .catalog-product-view .availability span, .catalog-product-view .pricesWrap{
		width: calc(100% - 20px);
	}
	.add-to-box .add-to-links,
	.add-to-box .add-to-cart{
		float: none;
	}
	.add-to-box .add-to-cart{
		margin-top: 10px;
	}
	.catalog-product-view .link-wishlist{
		width: 100%;
	}
	.add-to-cart button.button{
		width: calc(100% - 47px);
	}
	.catalog-product-view .shareIt{
		margin-top: 20px;
	}
	.catalog-product-view .shareIt h5{
		float: none;
		margin-bottom: 10px;
	}
	.product-collateral .box-collateral,
	.product-collateral .box-collateral.box-description{
		margin-top: 10px;
		padding-top: 10px
	}
	#upsell-product-table li{
		width: calc(50% - 24px);
	}
	#upsell-product-table li img{
		width: 100%;
		height: auto;
	}
	.tabsWrap .activeElem .buttonWrap .button{
		width: 6px;
	}
	.catalog-product-view a.stockAlert{
		width: calc(100% - 246px);
		font-size: 10px;
		padding-right:10px;
		padding-top: 8px;
		height: 32px;
		padding-left: 55px;
	}
	.catalog-product-view a.stockAlert:before{
		left:10px;
	}
}
@media all and (max-width: 400px){
	.topLinks .phoneNumber{
		display: block;
		float: left;
	}
	.topLinks .login{
		display: none;
	}
	.topLinksIner .right{
		float: left;
		width: 100%;
	}
	.main-menu.mobile .bfm-nb-nav {
		text-align: left;
	}
	.main-menu.mobile .bfm-nb-nav ul:before{
		padding-left: 20px;
	}
	.innerHeader h2.logo img{
		width:210px;
		height: auto;
	}
	.form-list .input-box{
		width:auto;
	}
	.box-up-sell h2{
		font-size: 23px;
	}
	.topLinks:before{
		content: "";
		width: 6px;
		height: 30px;
		display: inline-block;
		background: url('../images/sprites.png');
		background-position: -147px -316px;
		position: absolute; top:7px; left:4px;
	}
	.topLinks:after{
		content: "";
		width: 6px;
		height: 30px;
		display: inline-block;
		background: url('../images/sprites.png');
		background-position: -147px -316px;
		position: absolute; top:7px; right:4px;
	}
	.topLinks .phoneNumber{
		width: calc(50% - 31px);
		border-right: #424242 1px solid;
		margin-top:0;
		padding-top: 16px;
		padding-bottom: 12px;
	}
	.topLinks .phoneNumber:before{
		top: 13px;
	}
	.apptrian-subcategories-layout-grid li img{
		margin-top: 5px;
	}
	.apptrian-subcategories-layout-grid li{
		height: 195px;
	}
	.form-list .field,
	.checkout-onepage-index .form-list li.wide .input-box{
		width: 100%;
	}
	.checkout-onepage-index .form-list li.wide input.input-text{
		width: calc(100% - 12px);
	}
	.form-list li.wide .input-box{
		width: 100%;
	}
	.projects-view-project .col2-left-layout a.instructablesBanner{
		width: calc(100% - 100px);
		background-size: 92%;
	}
}
